* {
    box-sizing: border-box;
}
body {
    background: lightgrey;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.container-products {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item {
    display: block;
    width: 240px;
    margin: 20px;
    padding: 15px;
    border-radius: .25rem;
    box-shadow: 0 16px 24px 5px rgba(33,77,66, .7);
}
.name {
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
}
.img {
    height: 200px;
    background: no-repeat center;
    background-size: cover;
    filter: grayscale(50%);
}
.price {
    padding: 15px 0;
}
.btn {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid gray;
    outline: none;
    background: none;
}
.btn-active {
    border: 1px solid transparent;
    background: radial-gradient(#4CCEB2, #2F8FD8);
}
/* container-counter */
.container-counter {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/shopping-cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-weight: bold;
    color: dimgray;
    font-style: oblique;
    cursor: pointer;
    margin: 20px 20px 0 0;
}